h1 {
  color: green;
  text-align: center;
  text-decoration: underline;
  text-transform: capitalize;
  font-size: 50px;
  text-shadow: 10px 10px 10px #000000;
}


p {

  text-indent: 50px;
  /*
  word-spacing: 10px;
  letter-spacing: 10px;*/
  line-height: 5;
}